<section id="banner">
				<div class="inner">
					
					<h2>Welcome to the Alternative Financing Portal</h2>
					
					<p></p>
					<br>
					<br>
					<br>
					<br>
					<br>
					<br>
				</div>

</section>
