<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This project is carried out as part of the COMP204P/ COMP205P Systems Engineering modules in University College London (UCL). The team, consisting of two second-year students, had been assigned a client, ATOS, to work with. The aim of the project is to build a financial portal to match up small and medium enterprises (SMEs) with suitable credit providers. The users of this application will be able to search for other users based on the criteria they input. Furthermore, each user will have a profile page to display information about themselves or their company. Additionally, there is an instant messaging platform for users to contact one another as well. 
</p>

