
<section id="banner">
				<div class="inner">

					 <h4>Please sign up for an account to access the search engine.</h4>
					
					<ul class="actions">
						<%= link_to "Sign up now as a Credit Provider!", provider_sign_up_path, class: "button big special" %>
					<p id='homepage'></p>	
                        <%= link_to "Sign up now as a Small and Medium Enterprise!", sme_sign_up_path, class: "button big alt" %>
					</ul>
					<br>
					<br>
					
				</div>

</section>
