<h4>Other Information<br /></h4>

<h4>1. Type of Credit Provider<br />
<h5><%= @user.provider_type%></h5></h4>

<h4>2. Name of Funder<br />
<h5><%= @user.username %></h5></h4>

<h4>3. Nature of Financing Offered<br />
<h5><%= @user.nature_of_financing %></h5></h4>

<h4>4. Other Forms of Support Offered<br />
<h5><%= @user.other_support_offered %></h5></h4>

<h4>About This Credit Provider<br /></h4>