<footer id="footer">

	<%= link_to "About",   about_path %>
    <%= link_to "Contact", contact_path %>
    <a href="http://atos.net/en-us/home/we-are/news.html">News</a>
 
						
					
					
	
</footer>



















