<footer id="footer">

	<%= link_to "About",   about_path %>
    <%= link_to "Contact", contact_path %>
    <%= link_to "Help", help_path %>
    <a href="http://news.railstutorial.org/">News</a>
 
						
					
					
	
</footer>



















